/* slicemk — LAYER 18: Magic / System */

        LAYER_Magic {
			bindings = <
			/* Row 0 */
				&none
			/* Row 1 */
				&trans                                &kp C_BRI_DN                              &kp C_BRI_UP                          &kp C_PREV                                  &kp C_NEXT                            &kp C_PP                                                                   &trans                    &trans                  &kp C_MUTE                               &kp C_VOL_DN                           &kp C_VOL_UP                               &trans                               &bt BT_CLR                                &bt BT_CLR
			/* Row 2 */
				&bootloader                             &rgb_ug RGB_SPI                           &rgb_ug RGB_SAI                           &rgb_ug RGB_HUI                           &rgb_ug RGB_BRI                           &rgb_ug RGB_TOG                                                                 &kp C_PLAY_PAUSE                &kp C_VOL_UP                    &none                                       &none                                   &none                                    &none                                 &none                                  &bootloader
			/* Row 3 */
				&sys_reset                             &rgb_ug RGB_SPD                          &rgb_ug RGB_SAD                        &rgb_ug RGB_HUD                        &rgb_ug RGB_BRD                          &rgb_ug RGB_EFF                                                                   &none                                    &none                                   &none                                    &none                                 &none                                     &sys_reset
			/* Row 4 */
				&none                                      &none                                 &bt_0                                  &bt_1                                     &bt_2                                 &bt_3                                                                        &kp C_NEXT                      &kp C_VOL_DN                    &none                                       &none                                   &none                                    &none                                 &none                                     &trans
			/* Row 5 */
				&kp LCTRL                           &out OUT_USB                               &none                                 &to LAYER_Typing                                                                                                                                               &mkp RCLK                                                                                                                                   &arrow_left LC(LEFT) LEFT                   &trans                                  &trans                                    &trans    &hyper_key

			/* Thumb Cluster - Top Pair */
				&kp DEL                             &trans                     &kp C_NEXT                      &kp DEL
			/* Thumb Cluster - Left to Right*/
				&trans                                  &trans                                 &trans                                                                   &mac_tab_prev                                &trans                              &mac_tab_next
			/* Inside Thumb Cluster */
				&lt LAYER_Keypad QUESTION            &lt LAYER_Symbol PERIOD
			>;
		};