// sticky "hyper" modifiers (Win + Alt + Ctrl + Shift) - TailorKey
combo_sticky_hyp_rght_v1_TKZ {
    timeout-ms = <COMBO_TIMEOUT_MS>;
    key-positions = <POS_RH_C2R4 POS_RH_C2R5>;
    bindings = <&sk LG(LA(LC(LSHFT)))>;
    layers = <LAYER_Base LAYER_Autoshift LAYER_Typing>;
};

// sticky "meh" modifiers (Alt + Ctrl + Shift) - TailorKey
combo_sticky_meh_rght_v1_TKZ {
    timeout-ms = <COMBO_TIMEOUT_MS>;
    key-positions = <POS_RH_C3R5 POS_RH_C3R4>;
    bindings = <&sk LA(LC(LSHFT))>;
    layers = <LAYER_Base LAYER_Autoshift LAYER_Typing>;
};

// expose when pressing both T1's - TailorKey
combo_expose_v1_TKZ {
    key-positions = <POS_LH_T1 POS_RH_T1>;
    bindings = <&mac_app_expose>;
    layers = <LAYER_Base LAYER_Typing LAYER_Autoshift>;
};

// Alt Tab Switcher (Cursor Layer) - TailorKey
combo_tabswitch_gui_v1_TKZ {
    key-positions = <POS_LH_T1 POS_LH_C1R4>;
    bindings = <&mod_tab_chord_v2_TKZ LGUI LAYER_Cursor>;
    layers = <LAYER_Base LAYER_Typing LAYER_Autoshift>;
};

// Ctrl Tab Switcher (Cursor Layer) - TailorKey
combo_tabswitch_ctrl_v1_TKZ {
    key-positions = <POS_LH_C2R5 POS_LH_C2R4>;
    bindings = <&mod_tab_chord_v2_TKZ LCTRL LAYER_Cursor>;
    layers = <LAYER_Base LAYER_Typing LAYER_Autoshift>;
};

