#define HRM_INDEX_TAPPING_TERM   190
#define HRM_MIDDY_TAPPING_TERM   210
#define HRM_RING_TAPPING_TERM    240
#define HRM_PINKY_TAPPING_TERM   260

#define HRM_INDEX_PRIOR_IDLE     100
#define HRM_MIDDY_PRIOR_IDLE     150
#define HRM_RING_PRIOR_IDLE      150
#define HRM_PINKY_PRIOR_IDLE     150

#define HRM_QUICK_TAP            300

#define THUMB_TAPPING_TERM       200
#define THUMB_QUICK_TAP          300

#define SPACE_TAPPING_TERM       200
#define SPACE_QUICK_TAP          300

#define NUM_HT_TAPPING_TERM      170
#define NUM_HT_QUICK_TAP         175
#define NUM_HT_PRIOR_IDLE        125

#define AUTOSHIFT_TAPPING_TERM   190

#define BSPC_WORD_TAPPING_TERM   250
#define BSPC_WORD_PRIOR_IDLE     200
#define BSPC_WORD_QUICK_TAP      0


#define ARROW_TAPPING_TERM       250
#define ARROW_QUICK_TAP          200
#define ARROW_PRIOR_IDLE         150