/* glove80 — LAYER 2: Autoshift
 * see boards/go60/layers/autoshift.dtsi */

        LAYER_Autoshift {
            bindings = <

    /* Left Hand */

/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │              ESC/`(AS)              │ │                   F1                │ │                F2                   │ │                 F3                  │ │                  F4                 │ */
             &AS_v1_TKZ EQUAL                              &trans                                &trans                                  &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │              EQUAL                  │ │                   1/!               │ │                2/@                  │ │                 3/#                 │ │                  4/$                │ │                5/%                  │ */
                  &trans                                     &trans                                &trans                                  &trans                                   &trans                                 &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               TAB                   │ │                  Q(AS)              │ │                W(AS)                │ │                E(AS)                │ │                R(AS)                │ │                T(AS)                │ */
                  &trans                                 &AS_v1_TKZ Q                           &AS_v1_TKZ W                            &AS_v1_TKZ E                             &AS_v1_TKZ R                           &AS_v1_TKZ T
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │                  A(AS)              │ │                S(AS)                │ │                D(AS)                │ │                F(AS)                │ │                G(AS)                │ */
                  &trans                                 &AS_v1_TKZ A                           &AS_v1_TKZ S                            &AS_v1_TKZ D                             &AS_v1_TKZ F                           &AS_v1_TKZ G
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               SHIFT                 │ │                  Z(AS)              │ │                X(AS)                │ │                C(AS)                │ │                V(AS)                │ │                B(AS)                │ */
                  &trans                                 &AS_v1_TKZ Z                           &AS_v1_TKZ X                            &AS_v1_TKZ C                             &AS_v1_TKZ V                           &AS_v1_TKZ B
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               MAGIC                 │ │                 LCTRL               │ │                 LALT                │ │                LGUI                 │ │                  ---                │ */
          &magic LAYER_Magic 0                              &trans                                 &trans                                  &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */

/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         │                 ---                 │ │                  ---               │ │                  ---                │ */
                                                                                                                                           &trans                                  &trans                                   &trans
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         │                 ---                 │ │                  ---               │ │                  ---                │ */
                                                                                                                                           &trans                                  &trans                                   &trans
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */


/* Right Hand */

                                        /* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                                        /* │                F6                   │ │                   F7                │ │                  F8                 │ │                 F9                  │ │                 F10                 │ */
                                                          &trans                                    &trans                                  &trans                                  &trans                                  &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                 6                   │ │                 7                   │ │                   8                 │ │                  9                  │ │                 0                   │ │                  -                  │ */
                  &trans                                    &trans                                  &trans                                  &trans                                 &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                Y(AS)                │ │                U(AS)                │ │                I(AS)                │ │                O(AS)                │ │                P(AS)                │ │                  ()                 │ */
             &AS_v1_TKZ Y                              &AS_v1_TKZ U                            &AS_v1_TKZ I                            &AS_v1_TKZ O                           &AS_v1_TKZ P                                 &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                H(AS)                │ │                J(AS)                │ │                K(AS)                │ │                L(AS)                │ │               ;(AS)                 │ │                  ---                │ */
             &AS_v1_TKZ H                              &AS_v1_TKZ J                            &AS_v1_TKZ K                            &AS_v1_TKZ L                         &AS_v1_TKZ SEMI                               &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                N(AS)                │ │                M(AS)                │ │              ,(AS)                  │ │                .(AS)                │ │               /(AS)                 │ │                   ---               │ */
             &AS_v1_TKZ N                              &AS_v1_TKZ M                          &AS_v1_TKZ COMMA                          &AS_v1_TKZ DOT                         &AS_v1_TKZ FSLH                               &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                                        /* │               LCTRL                 │ │                  LALT               │ │                 LGUI                │ │                  ---                │ │                   ---               │ */
                                                          &trans                                   &trans                                   &trans                                 &trans                                   &trans
                                        /* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */

                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* │                 ---                 │ │                  ---               │ │                  ---                │ */
                        &trans        &trans          &trans
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* │                 ---                 │ │                  ---               │ │                  ---                │ */
                           &trans        &trans          &trans
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
            >;
        };
