/* glove80 — LAYER 0: Base - QWERTY with Home Row Mods
 * TODO: see boards/go60/layers/base.dtsi */

        LAYER_Base {
            bindings = <
    
    /* Left Hand */

/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ESC/`                │ │                   F1                │ │                  F2                 │ │                 F3                  │ │                  F4                 │ */
                  &gresc                                     &trans                                &trans                                  &trans                                   &trans                  
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */ 
/* │               EQUAL                 │ │                   1/!               │ │                   2/@               │ │                 3/#                 │ │                  4/$                │ │                  5/%                │ */
                 &kp EQUAL                             &num_ht LS(N1) N1                        &num_ht LS(N2) N2                      &num_ht LS(N3) N3                       &num_ht LS(N4) N4                         &num_ht LS(N5) N5            
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */ 
/* │                TAB                  │ │                    Q                │ │                   W                 │ │                   E                 │ │                   R                 │ │                 T                   │ */
                 &tab_hyper LS(LC(LA(LGUI))) TAB              &kp Q                                  &kp W                                   &kp E                                   &kp R                                 &kp T                   
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │         Lshift + 2xCAPSLCK          │ │            GUI(hold)/A              │ │             ALT(hold)/S             │ │             CTRL(hold)/D            │ │            SHIFT(hold)/F            │ │            SYMB(hold)/G             │ */
                &kp LSHFT                       &HRM_left_pinky_v1B_TKZ LGUI A          &HRM_left_ring_v1B_TKZ LALT S          &HRM_left_middy_v1B_TKZ LCTRL D         &HRM_left_index_v1B_TKZ LSHFT F             &lt_v2_TKZ LAYER_Symbol G     
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               SHIFT                 │ │                    Z                │ │                    X                │ │                  C                  │ │                   V                 │ │                 B                   │ */
                &kp LSHFT                                    &kp Z                                   &kp X                                 &kp C                                    &kp V                                 &kp B                   
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               MAGIC                 │ │                    Z                │ │                    X                │ │                  C                  │ │                   V                 │ */
          &magic LAYER_Magic 0                              &kp LCTRL                                &kp LALT                              &kp LGUI                                &trans                         
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */

/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         │           NAV(hold)/SPACE           │ │                ENTER                │ │             NUMPAD(hold)/?          │ */
                                                                                                                               &thumb_v2_TKZ LAYER_Cursor SPACE        &thumb_v2_TKZ LAYER_Symbol RET          &thumb_v2_TKZ LAYER_Keypad QMARK    
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         │           NAV(hold)/SPACE           │ │                ENTER                │ │             NUMPAD(hold)/?          │ */
                                                                                                                               &thumb_v2_TKZ LAYER_Cursor SPACE        &thumb_v2_TKZ LAYER_Symbol RET          &thumb_v2_TKZ LAYER_Keypad QMARK    
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
    
    
/* Right Hand */

                                        /* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                                        /* │                F6                   │ │                   F7                │ │                  F8                 │ │                 F9                  │ │                  F10                │ */
                                                          &trans                                     &trans                                &trans                                  &trans                                   &trans                  
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */ 
/* │                 6                   │ │                 7                   │ │                   8                 │ │                  9                  │ │                 0                   │ │                  -                  │ */
            &num_ht LS(N6) N6                         &num_ht LS(N7) N7                        &num_ht LS(N8) N8                      &num_ht LS(N9) N9                       &num_ht LS(N0) N0                    &num_ht LS(MINUS) MINUS            
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */ 
/* │                 Y                   │ │                  U                  │ │                  I                  │ │                   O                 │ │                 P                   │ │                  ()                 │ */
                 &kp Y                                     &kp U                                     &kp I                                   &kp O                                 &kp P                                  &pair_paren                   
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │            SYMB(hold)/H             │ │           SHIFT(hold)/J             │ │             CTRL(hold)/K            │ │             ALT(hold)/L             │ │             GUI(hold)/;             │ │                  ""                 │ */
         &lt_v2_TKZ LAYER_Symbol H           &HRM_left_index_v1B_TKZ LSHFT J          &HRM_left_middy_v1B_TKZ LCTRL K            &HRM_left_ring_v1B_TKZ LALT L          &HRM_left_pinky_v1B_TKZ LGUI SEMI                  &dqt_pair                                            
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                 N                   │ │                  M                  │ │                 ,/<>                │ │                  .                  │ │                  /                  │ │                   B                 │ */
                   &kp N                                    &kp M                                &comma_angle                               &kp DOT                                &kp FSLH                                  &kp B                   
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                                        /* │                MAGIC                │ │                   Z                 │ │                  X                  │ │                  C                  │ │                   V                 │ */
                                                           &kp LCTRL                                &kp LALT                              &kp LGUI                                 &trans                                   &trans
                                        /* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */

/* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │           NAV(hold)/SPACE           │ │                ENTER                │ │             NUMPAD(hold)/?          │ */
        &thumb_v2_TKZ LAYER_Cursor SPACE        &thumb_v2_TKZ LAYER_Symbol RET          &thumb_v2_TKZ LAYER_Keypad QMARK    
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │           NAV(hold)/SPACE           │ │                ENTER                │ │             NUMPAD(hold)/?          │ */
       &thumb_v2_TKZ LAYER_Cursor SPACE        &thumb_v2_TKZ LAYER_Symbol RET          &thumb_v2_TKZ LAYER_Keypad QMARK    
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| */

            >;
        };