/* glove80 — LAYER 11: Cursor / Navigation
 * see boards/go60/layers/cursor.dtsi */

        LAYER_Cursor {
            bindings = <

    /* Left Hand */

/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │                   F1                │ │                F2                   │ │                 F3                  │ │                  F4                 │ */
                  &trans                                     &trans                                &trans                                  &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │                   ---               │ │               NONE                  │ │                 ---                 │ │            RIGHT CLICK              │ │              ZOOM IN                │ */
                  &trans                                     &trans                                &none                                   &trans                                &mkp RCLK                              &kp LG(PLUS)
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │                   ---               │ │               NONE                  │ │              MOUSE UP               │ │            LEFT CLICK               │ │              ZOOM OUT               │ */
                  &trans                                     &trans                                &none                               &mmv MOVE_UP                             &mkp LCLK                              &kp LG(MINUS)
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │               NONE                  │ │            MOUSE LEFT               │ │             MOUSE DOWN              │ │           MOUSE RIGHT               │ │               NONE                  │ */
                  &trans                                     &none                             &mmv MOVE_LEFT                          &mmv MOVE_DOWN                         &mmv MOVE_RIGHT                              &none
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               NONE                  │ │               NONE                  │ │               NONE                  │ │             MOUSEFAST               │ │             MOUSEWARP               │ │             MOUSESLOW               │ */
                  &none                                      &none                                 &none                             &mo LAYER_MouseFast                     &mo LAYER_MouseWarp                     &mo LAYER_MouseSlow
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │                 LCTRL               │ │                 LALT                │ │                LGUI                 │ │                  ---                │ */
                  &trans                                     &trans                                 &trans                                  &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */

/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         │               DEL                   │ │            RIGHT CLICK              │ │            LEFT MOUSE               │ */
                                                                                                                                          &kp DEL                                &mkp RCLK                                 &mkp LCLK
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         │               DEL                   │ │            RIGHT CLICK              │ │            LEFT MOUSE               │ */
                                                                                                                                          &kp DEL                                &mkp RCLK                                 &mkp LCLK
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */


/* Right Hand */

                                        /* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                                        /* │                F6                   │ │                   F7                │ │                  F8                 │ │                 F9                  │ │                 F10                 │ */
                                                          &trans                                    &trans                                  &trans                                  &trans                                  &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │            SCROLL UP                │ │                 ---                 │ │                 ---                 │ │                 ---                 │ │                ---                  │ │                  ---                │ */
             &msc SCRL_UP                                   &trans                                  &trans                                  &trans                                 &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │           SCROLL DOWN               │ │                 ---                 │ │              MOVE UP                │ │                 ---                 │ │                ---                  │ │                  ---                │ */
            &msc SCRL_DOWN                                  &trans                              &mmv MOVE_UP                                &trans                                 &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │            MOVE LEFT                │ │             MOVE DOWN               │ │            MOVE RIGHT               │ │                ---                  │ │                  ---                │ */
                  &trans                               &mmv MOVE_LEFT                          &mmv MOVE_DOWN                          &mmv MOVE_RIGHT                            &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │             MOUSESLOW               │ │             MOUSEFAST               │ │             MOUSEWARP               │ │               NONE                  │ │                ---                  │ │                  ---                │ */
            &mo LAYER_MouseSlow                      &mo LAYER_MouseFast                     &mo LAYER_MouseWarp                            &none                                  &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                                        /* │               LCTRL                 │ │                  LALT               │ │                 LGUI                │ │                  ---                │ │                   ---               │ */
                                                          &trans                                   &trans                                   &trans                                 &trans                                   &trans
                                        /* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */

                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* │            LEFT MOUSE               │ │            RIGHT MOUSE              │ │                 ---                 │ */
                        &mkp LCLK        &mkp RCLK          &trans
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* │            LEFT MOUSE               │ │            RIGHT MOUSE              │ │                 ---                 │ */
                           &mkp LCLK        &mkp RCLK          &trans
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */

            >;
        };
