/* glove80 — LAYER 12: Keypad / Numpad
 * see boards/go60/layers/keypad.dtsi */

        LAYER_Keypad {
            bindings = <

    /* Left Hand */

/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                F1                   │ │                   F1                │ │                F2                   │ │                 F3                  │ │                  F4                 │ */
                  &kp F1                                     &trans                                &trans                                  &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │                   F2                │ │                F3                   │ │                 F4                  │ │                  F5                 │ │                 F6                  │ */
                  &trans                                     &kp F2                                &kp F3                                  &kp F4                                   &kp F5                                 &kp F6
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               TAB                   │ │                   *                 │ │                  7                  │ │                  8                  │ │                  9                  │ │                  /                  │ */
                  &kp TAB                                  &kp STAR                               &kp N7                                  &kp N8                                   &kp N9                                 &kp SLASH
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               NONE                  │ │                   -                 │ │                  4                  │ │                  5                  │ │                  6                  │ │                  +                  │ */
                  &none                                    &kp MINUS                               &kp N4                                  &kp N5                                   &kp N6                                 &kp PLUS
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               SHIFT                 │ │                   =                 │ │                  1                  │ │                  2                  │ │                  3                  │ │                  -                  │ */
                  &trans                                   &kp EQUAL                               &kp N1                                  &kp N2                                   &kp N3                                 &kp MINUS
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               MAGIC                 │ │               ENTER                 │ │                  .                  │ │                  0                  │ │                  ---                │ */
          &magic LAYER_Magic 0                             &kp RET                                &kp DOT                                  &kp N0                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */

/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         │          LAYER_Symbol               │ │                  ---               │ │                  ---                │ */
                                                                                                                                     &mo LAYER_Symbol                               &trans                                   &trans
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         │          LAYER_Symbol               │ │                  ---               │ │                  ---                │ */
                                                                                                                                     &mo LAYER_Symbol                               &trans                                   &trans
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */


/* Right Hand */

                                        /* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                                        /* │                F6                   │ │                   F7                │ │                  F8                 │ │                 F9                  │ │                 F10                 │ */
                                                          &trans                                    &trans                                  &trans                                  &trans                                  &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                F7                   │ │                 F8                  │ │                  F9                 │ │                 F10                 │ │                F11                  │ │                 F12                 │ */
                  &kp F7                                   &kp F8                                  &kp F9                                  &kp F10                                &kp F11                                  &kp F12
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                  /                  │ │                  7                  │ │                  8                  │ │                  9                  │ │                  *                  │ │                  ---                │ */
                  &kp SLASH                                &kp N7                                  &kp N8                                  &kp N9                                 &kp STAR                                 &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                  +                  │ │                  4                  │ │                  5                  │ │                  6                  │ │                  +                  │ │                  ---                │ */
                  &kp PLUS                                 &kp N4                                  &kp N5                                  &kp N6                                 &kp PLUS                                 &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                  -                  │ │                  1                  │ │                  2                  │ │                  3                  │ │               ENTER                 │ │              NUMPAD                 │ */
                  &kp MINUS                                &kp N1                                  &kp N2                                  &kp N3                                 &kp ENTER                               &numpad_td
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                                        /* │                  0                  │ │                   .                 │ │               RETURN                │ │                  ---                │ │                   ---               │ */
                                                          &kp N0                                   &kp DOT                                  &kp RET                                &trans                                   &trans
                                        /* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */

                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* │                 ---                 │ │                  ---               │ │                  ---                │ */
                                        &trans                                  &trans                                   &trans
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* │                 ---                 │ │                  ---               │ │                  ---                │ */
                                        &trans                                  &trans                                   &trans
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */

            >;
        };
