/* glove80 — LAYER 14: Mouse
 * see boards/go60/layers/mouse.dtsi */

        LAYER_Mouse {
            bindings = <

    /* Left Hand */

/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               ESC                   │ │                   F1                │ │                F2                   │ │                 F3                  │ │                  F4                 │ */
                  &kp ESC                                    &trans                                &trans                                  &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │         Mission Control             │ │             SCROLL UP               │ │                 ---                 │ │            RIGHT CLICK              │ │              ZOOM OUT               │ */
                  &trans                              &mac_mission_ctl                          &msc SCRL_UP                               &trans                                &mkp RCLK                              &kp LG(MINUS)
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │              Expose                 │ │                 ---                 │ │            SCROLL DOWN              │ │              MOUSE UP               │ │            LEFT CLICK               │ │              ZOOM IN                │ */
            &mac_app_expose                                 &trans                            &msc SCRL_DOWN                           &mmv MOVE_UP                             &mkp LCLK                              &kp LG(PLUS)
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │           SCROLL LEFT               │ │            MOUSE LEFT               │ │            MOUSE DOWN               │ │           MOUSE RIGHT               │ │           SCROLL RIGHT              │ */
                  &trans                              &msc SCRL_LEFT                           &mmv MOVE_LEFT                          &mmv MOVE_DOWN                         &mmv MOVE_RIGHT                          &msc SCRL_RIGHT
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │           SCROLL DOWN               │ │             MOUSESLOW               │ │             MOUSEFAST               │ │             MOUSEWARP               │ │               DEL                   │ */
                  &none                               &msc SCRL_DOWN                       &mo LAYER_MouseSlow                      &mo LAYER_MouseFast                     &mo LAYER_MouseWarp                           &kp DEL
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │                 LCTRL               │ │                 LALT                │ │                LGUI                 │ │                  ---                │ */
                  &trans                                     &trans                                 &trans                                &trans                                   &trans 
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */

/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         │               DEL                   │ │                  ---                │ │                  ---                │ */
                                                                                                                                          &kp DEL                                   &trans                                   &trans
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         │               DEL                   │ │                  ---                │ │                  ---                │ */
                                                                                                                                         &kp DEL                                     &trans                                   &trans
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */


/* Right Hand */

                                        /* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                                        /* │                F6                   │ │                   F7                │ │                  F8                 │ │                 F9                  │ │                 F10                 │ */
                                                          &trans                                    &trans                                  &trans                                  &trans                                  &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │                 ---                 │ │                 ---                 │ │                 ---                 │ │         Mission Control             │ │            App Exposè               │ */
                  &trans                                    &trans                                  &trans                                  &trans                             &mac_mission_ctl                         &mac_app_expose
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │                 ---                 │ │              MOVE UP                │ │                 ---                 │ │                ---                  │ │                  ---                │ */
                  &trans                                    &trans                              &mmv MOVE_UP                                &trans                                 &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │            MOVE LEFT                │ │             MOVE DOWN               │ │            MOVE RIGHT               │ │                ---                  │ │                  ---                │ */
                  &trans                               &mmv MOVE_LEFT                          &mmv MOVE_DOWN                          &mmv MOVE_RIGHT                            &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │             MOUSEWARP               │ │             MOUSEFAST               │ │             MOUSESLOW               │ │                ---                  │ │                  ---                │ */
                  &trans                           &mo LAYER_MouseWarp                      &mo LAYER_MouseFast                    &mo LAYER_MouseSlow                            &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                                        /* │               LCTRL                 │ │                  LALT               │ │                 LGUI                │ │                  ---                │ │                   ---               │ */
                                                          &trans                                   &trans                                   &trans                                 &trans                                   &trans
                                        /* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */

                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* │            LEFT MOUSE               │ │                 ---                 │ │                 ---                 │ */
                                    &mkp LCLK                                   &trans                                  &trans
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* │            LEFT MOUSE               │ │                 ---                 │ │                 ---                 │ */
                                    &mkp LCLK                                   &trans                                  &trans
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */

            >;
        };
