/* glove80 — LAYER 13: Symbol
 * see boards/go60/layers/symbol.dtsi */

        LAYER_Symbol {
            bindings = <

    /* Left Hand */

/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               NONE                  │ │                   F1                │ │                F2                   │ │                 F3                  │ │                  F4                 │ */
                  &none                                      &trans                                &trans                                  &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │                ---                  │ │               NONE                  │ │               NONE                  │ │               NONE                  │ │               NONE                  │ │               NONE                  │ */
                  &trans                                     &none                                 &none                                   &none                                    &none                                  &none
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               NONE                  │ │                  ~                  │ │                  $                  │ │                  #                  │ │                  ^                  │ │               NONE                  │ */
                  &none                                   &kp TILDE                             &kp DOLLAR                               &kp HASH                                &kp CARET                                 &none
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │             CAPS WORD               │ │                  -                  │ │                  *                  │ │                  |                  │ │                  &                  │ │               NONE                  │ */
                &caps_word                               &kp MINUS                               &kp STAR                                &kp PIPE                                &kp AMPS                                  &none
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               SHIFT                 │ │                  {                  │ │                  }                  │ │                 <>                  │ │                  >                  │ │               NONE                  │ */
                  &trans                                &pair_brace                              &kp RBRC                               &pair_angle                               &kp GT                                    &none
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               MAGIC                 │ │                 LCTRL               │ │                 LALT                │ │                LGUI                 │ │                  ---                │ */
          &magic LAYER_Magic 0                              &trans                                 &trans                                  &trans                                   &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */

/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         │             TO BASE                 │ │                  ---               │ │                  ---                │ */
                                                                                                                                      &to LAYER_Base                               &trans                                   &trans
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/*                                                                                                                         │             TO BASE                 │ │                  ---               │ │                  ---                │ */
                                                                                                                                      &to LAYER_Base                               &trans                                   &trans
/*                                                                                                                         |-------------------------------------| |-------------------------------------| |-------------------------------------| */


/* Right Hand */

                                        /* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                                        /* │                F6                   │ │                   F7                │ │                  F8                 │ │                 F9                  │ │                 F10                 │ */
                                                          &trans                                    &trans                                  &trans                                  &trans                                  &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               NONE                  │ │               NONE                  │ │               NONE                  │ │               NONE                  │ │               NONE                  │ │               NONE                  │ */
                  &none                                     &none                                   &none                                   &none                                  &none                                    &none
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               NONE                  │ │                  _                  │ │                  @                  │ │                  %                  │ │                  `                  │ │                  :                  │ */
                  &none                                   &kp UNDER                               &kp AT                                 &kp PRCNT                               &kp GRAVE                               &kp COLON
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               NONE                  │ │                  ()                 │ │                  )                  │ │                  +                  │ │                  =                  │ │                  '                  │ */
                  &none                                 &pair_paren                              &kp RPAR                                 &kp PLUS                               &kp EQUAL                                &kp SQT
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
/* │               NONE                  │ │                  []                 │ │                  ]                  │ │                  !                  │ │                  ?                  │ │                  ---                │ */
                  &none                               &pair_bracket                              &kp RBKT                                 &kp EXCL                               &kp QMARK                                 &trans
/* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                                        /* │               LCTRL                 │ │                  LALT               │ │                 LGUI                │ │                  ---                │ │                   ---               │ */
                                                          &trans                                   &trans                                   &trans                                 &trans                                   &trans
                                        /* |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| |-------------------------------------| */

                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* │                 ---                 │ │                  ---               │ │                  ---                │ */
                        &trans        &trans          &trans
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */
                    /* │                 ---                 │ │                  ---               │ │                  ---                │ */
                           &trans        &trans          &trans
                    /* |-------------------------------------| |-------------------------------------| |-------------------------------------| */

            >;
        };
